body {
    background-color: #e7e6e6b7 !important;
    font-size: 12px !important;
    text-align: left !important;
}

.container {
    background-color: white !important;
    margin: 1rem auto 1rem auto;
    padding-bottom: 10px;
    border-radius: 1rem;
    border-width: 0 10px 16px 0;
    border-style: solid;
    border-color: #ff8b06;
    border-spacing: 8rem;
    width: 60rem;
    box-shadow: 4px 5px 15px black;

}